<label class="blk-hdr"><u>Frequencies</u></label>
<br>
<br>
<form [formGroup]="compForm" autocomplete="off">
<div class="eis">
  <div>
    <table>
      <tr>
        <td><label class="w3-medium"><b>Frequency</b></label></td>
        <td><label class="w3-medium"><b>AM</b></label></td>
        <td><label class="w3-medium"><b>AM TONE</b></label></td>
        <td><label class="w3-medium"><b>FM</b></label></td>
        <td><label class="w3-medium"><b>FM TONE</b></label></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq1Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq1amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq1amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq1fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq1fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq2Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq2amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq2amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq2fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq2fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq3Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq3amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq3amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq3fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq3fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq4Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq4amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq4amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq4fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq4fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq5Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq5amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq5amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq5fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq5fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq6Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq6amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq6amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq6fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq6fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq7Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq7amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq7amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq7fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq7fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq8Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq8amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq8amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq8fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq8fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq9Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq9amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq9amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq9fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq9fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq10Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq10amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq10amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq10fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq10fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq11Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq11amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq11amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq11fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq11fmTone" maxlength="20"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="330" allowSpace="true" 
          formControlName="iapAircraftFreq12Freq" maxlength="200"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
          formControlName="iapAircraftFreq12amRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq12amTone" maxlength="20"></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq12fmRxTx" maxlength="20" restrict2="0-9,."></app-text-input></td>
        <td><app-text-input width="130" allowSpace="true" 
            formControlName="iapAircraftFreq12fmTone" maxlength="20"></app-text-input></td>
      </tr>
    </table>
  </div>
</div>
</form>