* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.main-card {
    border: 1px solid gray;
    height: 83vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
.card-body {
    padding: 0 20px 20px 20px;
    margin-left: 20px;
    display: flex;
    min-width: 800px;
}
.tooltip-box {
    width: 600px;
    height: 180px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #ccffff;
    font-size: 15px;
    font-weight: 550;
    margin-top: 5px;
}
.bottom-box {
    padding: 0 20px 20px 20px;
}
button {
    font-weight: 550;
    font-size: 13px;
}

input[type="radio"] {
    margin-top: -3px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

input[type="checkbox"] {
  margin-top: -3px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.title {
    font-weight: bold;
    padding-left: 20px;
    font-size: 18px;
}
