#dv-hdr-info {
    padding-left: 10px;
    font: 14px Helvetica,Arial,sans-serif;
}

.tablbl {
    font: 14px Helvetica,Arial,sans-serif;
}

.dv-checkout-form {
    margin-left: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 690px;
    height: 330px;
    border: 1px solid darkgray;
}

.dv-air-travel {
    margin-left: 5px;
    margin-top: 5px;
    width: 690px;
    height: 350px;
    border: 1px solid darkgray;
}

#dv-demob-top-bar {
    padding-right: 5px;
	background-color: lightgray;
    width: 100%;
    height:30px;
}
#dv-demob-top-bar button {
    margin-top: 3px;
    height:22px;
}

#dv-demob-action-bar {
    padding-right: 5px;
	background-color: #6183A6;
    width: 100%;
    height:30px;
}
#dv-demob-action-bar button {
    margin-top: 3px;
    height:22px;
}


.dv-checkout-section-left {
    float: left;
    width: 310px;
    height: 130px;
}

.dv-checkout-section-left button {
    margin-bottom: 3px;
    height: 22px;
}

.dv-checkout-section-right {
    float: left;
    width: 310px;
    height: 130px;
}

.dv-checkout-section-right button{
    margin-bottom: 3px;
    height: 22px;
}

.dv-checkout-list {
    float: left;
    border: 1px solid darkgray;
    height: 110px;
    width: 200px;
}
.dv-section-btn {
    float: right;
}

.ul-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .ul-list li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
  }
  .ul-list li.selected:hover {
    background-color: lightgray !important;
  }
  .ul-list li:hover {
   background-color: #DDD;
    left: .1em;
  }
  .ul-list .listitem {
    display: inline-block;
    font-size: small;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #EEE;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
  }
  
  
.selected {
    background-color:lightblue !important;
  }

.dv-air-travel-section {
    float: left;
    width: 650px;
    height: 280px;
}

.dv-air-travel-section button {
    margin-bottom: 3px;
    height: 22px;
}

  