.main-card {
    border: 1px solid gray;
    height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 20px 10px 20px 20px;
}
.radio-box {
    padding: 10px 0 10px 0;
}
.checkbox-box {
    height: 200px;
    width: 200px;
    overflow-y: auto;
    border: 1px solid gray;
}
.row-padding {
    padding: 5px 0;
    display: block;
}