.metadata
.project
*.jasper
.recommenders*
Servers
isuite-core-ui/build-staging-ui
isuite-core-ui/build
isuite-core-ui/build-7zip
isuite-core-ui/.classpath
isuite-core-ui/Webroot/ui/
isuite-core-ui/Webroot/WEB-INF/classes
isuite-core-ui/Webroot/*.js
isuite-core-ui/Webroot/*.map
isuite-core-ui/Webroot/*.ico
isuite-core-ui/Webroot/*.html
isuite-core-ui/Webroot/assets/
isuite-core-ui/.settings
isuite-core-ui/Webroot/reportsoutput/
isuite-core-ui/src/main/java/gov/nwcg/isuite/framework/core/persistence/RoutingDataSource.java
isuite-core-ui/src/main/java/gov/nwcg/isuite/core/rules/login/LoginRuleFactory.java
