<label class="blk-hdr"><u>Personnel</u></label>
<br>
<br>
<form [formGroup]="compForm" autocomplete="off">
<div class="eis">
  <div>
    <table>
      <tr>
        <td><label class="w3-medium"><b>Position</b></label></td>
        <td><label class="w3-medium"><b>Name</b></label></td>
        <td><label class="w3-medium"><b>Phone</b></label></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel1Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel1Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel1Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel2Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel2Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel2Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel3Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel3Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel3Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel4Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel4Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel4Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel5Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel5Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel5Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel6Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel6Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel6Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel7Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel7Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel7Phone"></app-phone-input></td>
      </tr>
      <tr>
        <td><app-text-input width="260" allowSpace="true" maxlength="50" formControlName="iapPersonnel8Role"></app-text-input></td>
        <td><app-text-input width="430" allowSpace="true" maxlength="200" formControlName="iapPersonnel8Name"></app-text-input></td>
        <td><app-phone-input width="200" formControlName="iapPersonnel8Phone"></app-phone-input></td>
      </tr>
    </table>
  </div>
</div>
</form>