* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.main-card {
    border: 1px solid gray;
    height: 83vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
.card-body {
    margin: 20px;
    padding: 0 20px 20px 20px;
    height: 150px;
    min-width: 800px;
}
.date-box {
    height: 150px;
    width: 300px;
    border: 2px solid darkgray;
    padding: 10px;
}
button {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 13px;
}
.date-input {
    width: 100px;
}
.label-input {
    width: 70px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
}
.tooltip-box {
    width: 600px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #ccffff;
    font-size: 14px;
    font-weight: 550;
    display: inline-table;
    margin-top: 10px;
}
.title {
    font-weight: bold;
    padding-left: 20px;
    font-size: 18px;
}