#dv-adminoffice-form {
    padding-top: 5px;
    font: 12px Helvetica,Arial,sans-serif;
}
#dv-adminoffice-action-bar {
    margin-top: 20px;
    padding-left:5px;
	background-color: #6183A6;
    width: 100%;
    height:30px;
}
#dv-adminoffice-action-bar button {
    margin-top: 3px;
    margin-left: 4px;
    height:22px;
}
