<label class="blk-hdr"><u>Fixed Wing</u></label>
<br>
<br>
<form [formGroup]="compForm" autocomplete="off">
<div class="eis">
  <div>
    <table>
      <tr>
        <td><label class="w3-medium">Air Tactical Group Supervisor Aircraft</label></td>
        <td><label class="w3-medium">Other Fixed-Wing Aircraft</label></td>
      </tr>
      <tr>
        <td><label class="w3-small">(Category/Kind Type, Make/Model/ N# Base)</label></td>
        <td><label class="w3-small">(Category/Kind Type, Make/Model/ N# Base)</label></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing1Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing7Aircraft" maxlength="40"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing2Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing8Aircraft" maxlength="40"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing3Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing9Aircraft" maxlength="40"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing4Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing10Aircraft" maxlength="40"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing5Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing11Aircraft" maxlength="40"></app-text-input></td>
      </tr>
      <tr>
        <td><app-text-input width="350" allowSpace="true"
          formControlName="iapFixedWing6Aircraft" maxlength="40"></app-text-input></td>
        <td><app-text-input width="350" allowSpace="true"
            formControlName="iapFixedWing12Aircraft" maxlength="40"></app-text-input></td>
      </tr>
    </table>
  </div>
</div>
</form>
