<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:security="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd"
        >

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename">
			<value>WEB-INF/messages/isuite</value>
		</property>
		<property name="cacheSeconds">
			<value>60</value>
		</property>
	 </bean>
  
	<bean class="gov.nwcg.isuite.core.spring.CacheObjectPostProcessor">
      <property name="agencyDao" ref="agencyDao" />
      <property name="agencyGroupDao" ref="agencyGroupDao" />
      <property name="eventTypeDao" ref="eventTypeDao" />
      <property name="organizationDao" ref="organizationDao" />
      <property name="kindDao" ref="kindDao" />
      <property name="jetPortDao" ref="jetPortDao" />
      <property name="sit209Dao" ref="sit209Dao" />
      <property name="requestCategoryDao" ref="requestCategoryDao" />
      <property name="countryCodeDao" ref="countryCodeDao" />
      <property name="countryCodeSubdivisionDao" ref="countryCodeSubdivisionDao" />
      <property name="systemRoleDao" ref="systemRoleDao" />
      <property name="systemParameterDao" ref="systemParameterDao" /> 
      <property name="regionCodeDao" ref="regionCodeDao" />
      <property name="specialPayDao" ref="specialPayDao" />
      <property name="adjustCategoryDao" ref="adjustCategoryDao" />
      <property name="accrualCodeDao" ref="accrualCodeDao" />
      <property name="departmentDao" ref="departmentDao" />
      <property name="dailyFormDao" ref="dailyFormDao" />
      <property name="subGroupCategoryDao" ref="subGroupCategoryDao" />
      <property name="groupCategoryDao" ref="groupCategoryDao" />
      <property name="rateGroupDao" ref="rateGroupDao" />
      <property name="fontDao" ref="fontDao" />
      <property name="complexityDao" ref="complexityDao" />
      <property name="recommendationDao" ref="recommendationDao" />
	</bean>
	
	
	<bean id="loggingInterceptor" class="gov.nwcg.isuite.framework.logging.LoggingInterceptor"/>
	
  	<bean id="systemVo" class="gov.nwcg.isuite.core.vo.SystemVo" scope="singleton">
		<aop:scoped-proxy/>
	</bean>
	
	<bean id="userSessionVo" class="gov.nwcg.isuite.core.vo.UserSessionVo" scope="session">
		<aop:scoped-proxy/>
	</bean>
	
  	<bean id="globalCacheVo" class="gov.nwcg.isuite.core.vo.GlobalCacheVo" scope="singleton">
		<aop:scoped-proxy/>
	</bean>
	
  	<bean id="taskRunner" class="gov.nwcg.isuite.framework.system.EISuiteTaskRunner" scope="singleton">
		<aop:scoped-proxy/>
	</bean>
		
	<!--		
	<import resource="applicationMessageServiceContext.xml" />
	-->
	<import resource="applicationSessionManagementContext.xml" />
	<import resource="applicationPersistenceContext.xml" />
	<import resource="applicationServiceContext.xml"/>
	<import resource="applicationSecurityContext.xml"/>
	<import resource="applicationTaskContext.xml"/>

	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*Service</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>loggingInterceptor</value>
			</list>
		</property>
	</bean>	   

</beans>
	