<app-jw-modal id="contractor-window-modal" style="display: none;" class="box-hdr-dv">
    <div style="width: 680px; height: 290px;padding: 0px;">
       <div class="w3-container w3-padding-small w3-theme-d2">
          <div class="w3-left">{{ this.windowLabel }}</div>
       </div>
       <br>
       <div class="eis">
          <form  [formGroup]="contractorForm" autocomplete="off">
          <div>
            <table>
              <tr>
                <td>
                  <table>
                      <tr [class]="getIncidentSelectorClass()">
                          <td class="frmlbl"><label class="f1" for="ddIncident">Select Incident</label></td>
                          <td><label class="ast">*</label></td>
                          <td>
                                <app-eis-dropdown id="ddIncident" #ddIncident
                                formControlName="incidentVo"
                                [width]="200"
                                [selectedDropdownData]="this.selectedIncident"
                                [dropdownData]="this.incidentSelectorService.resourceIncidentTypeData"></app-eis-dropdown>
                          </td>
                      </tr>
                      <tr>
                        <td class="frmlbl"><label class="f1" for="txName">Contractor/Cooperator</label></td>
                        <td><label class="ast">*</label></td>
                        <td>
                           <app-text-input id="txUName" name="txUName" type="text"
                             width="200" maxlength="50" 
                             allowSpace="true" formControlName="name" textTransform="uppercase"></app-text-input>
                        </td>
                    </tr>
                    <tr>
                        <td class="frmlbl"><label class="f1" for="txDuns">DUNS</label></td>
                        <td><label class="ast"></label></td>
                        <td>
                           <app-text-input id="txDuns" name="txDuns" type="text"
                           formControlName="duns"  width="150" maxlength="13" 
                           restrict2="0-9" textTransform="uppercase"></app-text-input>
                        </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                      <tr>
                          <td class="frmlbl"><label class="f1" for="txAddr1">Address 1</label></td>
                          <td><label class="ast"></label></td>
                          <td>
                             <app-text-input id="txAddr1" name="txAddr1" type="text"
                             formControlName="addressLine1"  allowSpace="true"  width="200" maxlength="35" textTransform="uppercase"></app-text-input>
                          </td>
                      </tr>
                      <tr>
                          <td class="frmlbl"><label class="f1" for="txAddr2">Address 2</label></td>
                          <td><label class="ast"></label></td>
                          <td>
                             <app-text-input id="txAddr2" name="txAddr2" type="text"
                             formControlName="addressLine2" allowSpace="true" width="200" maxlength="35" textTransform="uppercase"></app-text-input>
                          </td>
                      </tr>
                      <tr>
                          <td class="frmlbl"><label class="f1" for="txCity">City</label></td>
                          <td><label class="ast"></label></td>
                          <td>
                             <app-text-input id="txCity" name="txCity" type="text"
                             formControlName="city" allowSpace="true" width="200" maxlength="30" textTransform="uppercase"></app-text-input>
                          </td>
                      </tr>
                      <tr>
                        <td class="frmlbl"><label class="f1" for="ddState">State</label></td>
                        <td><label class="ast"></label></td>
                        <td>
                            <app-eis-dropdown id="ddState" #ddState
                              formControlName="countryCodeSubdivisionVo"
                              [width]="40"
                              [selectedDropdownData]="this.selectedState"
                              [dropdownData]="this.incidentSelectorService.stateTypeData"></app-eis-dropdown>
                        </td>
                      </tr>
                      <tr>
                          <td class="frmlbl"><label class="f1" for="txZip">Zip</label></td>
                          <td><label class="ast"></label></td>
                          <td>
                             <app-text-input id="txZip" name="txZip" type="text"
                             formControlName="zip"  width="90" maxlength="10" 
                             restrict2="0-9,-" textTransform="uppercase"></app-text-input>
                          </td>
                      </tr>
                      <tr>
                          <td class="frmlbl"><label class="f1" for="txPhone">Phone</label></td>
                          <td><label class="ast"></label></td>
                          <td>
                            <app-phone-input formControlName="phone" id="txPhone" #txPhone style="width:150px;"></app-phone-input>
                          </td>
                      </tr>
                  </table>
                </td>
              </tr>
            </table>
         </div>
         </form>
        </div>
   </div>
   <div class="dv-action-bar w3-small w3-center">
     <button (click)="this.save()" title="Click to save the Contractor">Save</button>
     <button (click)="this.closeModal();" title="Click to cancel changes and close window">Close</button>
   </div>
</app-jw-modal>