<div class="eis">
    <form [formGroup]="compForm" autocomplete="off">
    <table>
        <tr>
          <td>
              <table>
                  <tr>
                     <td>
                       <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm202Attached"><label>ICS 202</label>
                        </div>
                     </td>
                 </tr>
                 <tr>
                    <td>
                        <div class="dv-iap-chk">
                            <input type="checkbox" formControlName="isForm203Attached"><label>ICS 203</label>
                          </div>
                      </td>
               </tr>
               <tr>
                  <td>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm204Attached"><label>ICS 204</label>
                        </div>
                    </td>
               </tr>
               <tr>
                  <td>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm205Attached"><label>ICS 205</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dv-iap-chk">
                            <input type="checkbox" formControlName="isForm205aAttached"><label>ICS 205a</label>
                          </div>
                      </td>
                 </tr>
                 <tr>
                    <td>
                        <div class="dv-iap-chk">
                            <input type="checkbox" formControlName="isForm206Attached"><label>ICS 206</label>
                          </div>
                      </td>
                 </tr>
              </table>
          </td>
          <td>
              <table>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm207Attached"><label>ICS 207</label>
                        </div>
                   </tr>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm208Attached"><label>ICS 208</label>
                        </div>
                  </tr>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isForm220Attached"><label>ICS 220</label>
                        </div>
                  </tr>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isIncidentMapAttached"><label>Map / Chart</label>
                        </div>
                  </tr>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isWeatherForecastAttached"><label>Weather Forecasts / Tides / Currents</label>
                        </div>
                  </tr>
               </table>
          </td>
          <td>
              <table>
                  <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isOtherFormAttached1">
                          <app-text-input width="150" maxlength="30"
                            allowSpace="true" formControlName="otherFormName1"></app-text-input>
                        </div>
                   </tr>
                   <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isOtherFormAttached2">
                          <app-text-input width="150" maxlength="30"
                            allowSpace="true" formControlName="otherFormName2"></app-text-input>
                        </div>
                   </tr>
                   <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isOtherFormAttached3">
                          <app-text-input width="150" maxlength="30"
                            allowSpace="true" formControlName="otherFormName3"></app-text-input>
                        </div>
                   </tr>
                   <tr>
                      <div class="dv-iap-chk">
                          <input type="checkbox" formControlName="isOtherFormAttached4">
                          <app-text-input width="150" maxlength="30"
                            allowSpace="true" formControlName="otherFormName4"></app-text-input>
                        </div>
                   </tr>
               </table>
          </td>
        </tr>
      </table>
    </form>
 </div>

