#dv-plans-rpt-left {
    min-width: 280px;
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgray;
}
#dv-plans-rpt-left button {
    margin: 2px;
    text-align: center;
    width: 15vw;
    min-width: 250px;
    font: 12px Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.lbl-hdr {
	font: 12px Helvetica,Arial,sans-serif;
    font-weight: bold;
}
#dv-plans-rpt-rht {
    width: 75vw;
    min-height: 500px;
    padding: 10px;
    /*border: 1px solid darkgray;*/
}
