* {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

th {
    font-weight: 550;
    text-align: left;
}

table {
    border: 1px solid black;
}

.border-box {
    border: 1px solid black;
    margin: 7px;
}

.left-box {
    float: left;
}

.right-box {
    float: right;
}

.main-box {
    overflow: auto;
}

input[type="checkbox"] {
    margin-left: 8px;
}