#dv-res-form {
 font: 12px Helvetica,Arial,sans-serif;
}
.hidden {
    display: none;
}
.ul-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 80em;
  }
  .ul-list li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
  }
  .ul-list .listitem {
    display: inline-block;
    font-size: small;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #EEE;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
  }
  
